*, *::after, *::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.header {
    display:flex;
    background-color:transparent;
    height:13vh;
    align-items:center;
    padding-left: 3.5%;
    justify-content: space-between;
}

#title-name-personal{
    font-family: 'Patrick Hand SC', cursive;
    font-size: 25px;
    color:#DFE4EF;
}

.left-name-personal{
    font-size: 20px;
    font-family: 'Patrick Hand SC', cursive;
    color:#DFE4EF;
    display: flex;
    padding-right: 3.5%;
    flex-direction: row;
    justify-content:space-around;
}

#left-name2-personal{
    margin-left:25px;
    height: 30px;
    width:90px;
    border: 2px solid #797462;
    border-radius: 7px;
    background-color: transparent;
    color:#DFE4EF;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: rgba(255,255,255,0.05);
}

.container-main{
    background-image: url(./images/pexels-jakub-novacek-924824.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size: cover;
    height:100%;
}

.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    width:100%;
}

.small-div h1, .medium-div h1, .large-div h1, .main-div h1{
    font-family: 'Patrick Hand SC', cursive;
    color:#DFE4EF;
}

.small-div p, .medium-div p, .large-div p, .main-div p{
    font-family: 'Patrick Hand SC', cursive;
    color:#DFE4EF;
}

.large-div h1{
    font-size:80px;
}

.medium-div h1{
    font-size:70px;
}

.small-div h1{
    font-size:30px;
}

.small-div p{
    font-size:150%;
}

.medium-div p{
    font-size:180%;
}

.large-div p{
    font-size:200%;
}


.link-home-page{
    height: 39px;
    width: 22px;
    border: 2px solid #AFA88F;
    border-radius:50px;
    text-decoration: none;
}

.link-home-page p{
    color:#AFA88F;
}

.below-main-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#p-home-page{
    margin-top: 5px;
    font-size:15px;
    color:#FFFFFF;
    font-weight: 100;
    font-family: 'Patrick Hand SC', cursive;
}

.link-home-page-down{
    color: #AFA88F;
    font-size:small;
    font-weight: bolder;
    text-decoration: none;
    transform: rotate(0.13turn);
}

@media screen and (max-width: 1050px) and (min-width: 1000px) {
    .link-home-page{
        height: 52px;
        width: 32px;
        border: 2px solid #AFA88F;
        border-radius:50px;
        text-decoration: none;
    }
    
    .link-home-page p{
        color:#AFA88F;
    }
    
    .below-main-div{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    #p-home-page{
        margin-top: 5px;
        font-size:25px;
        color:#FFFFFF;
        font-weight: 100;
        font-family: 'Patrick Hand SC', cursive;
    }
  }

#class-section{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #FFFFFF;
    height: auto;
}

.lecture-name{
    height:54px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.lecture-name{
    border: 1px solid #707070;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.image-lecture{
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.opacity-lecture{
    opacity:50%;
    color:#131018;
}

.hello:hover{
    border-radius: 7px;
    box-shadow: -10px -10px 20px 0 rgb(248, 245, 245),
                 10px 10px 15px 0 #e4e4e4;
}



.background-creater{
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.creater-column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

@media screen and (min-width: 750px){
    .creater{
        height: 270px;
        width: 235px;
        margin-right: 12px;
        border: 1px solid #ffffff;
        border-radius: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: -5px -5px 4px 0 rgb(248, 245, 245),
                     5px 5px 4px 0 rgb(248, 245, 245);
    }
}

@media screen and (max-width: 750px)  {
        .creater-column{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .creater{
            height: 270px;
            margin-bottom: 12px;
            width: 235px;
            border: 1px solid #ffffff;
            border-radius: 7px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            box-shadow: -5px -5px 4px 0 rgb(248, 245, 245),
                         5px 5px 4px 0 rgb(248, 245, 245);
        }
}

.creater-image, .creater img{
    height: 100px;
    width: 100px;
    margin-bottom: 20px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 7px;
    border-radius:50px;
    box-shadow: -5px -5px 4px 0 rgb(248, 245, 245),
                 5px 5px 4px 0 rgb(248, 245, 245);
}

.creater-name{
    margin-top:0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: larger;
}

.creater-role{
    margin-top: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;
}

.creater-links{
    margin-top: 13px;
    display: flex;
    width:190px;
    justify-content: space-evenly;
    flex-direction: row;
}

.creater-links p{
    height:20px;
    width:20px;
    border: 1px solid rgb(255, 255, 255);
    border-radius:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:25px;
    box-shadow: -5px -5px 4px 0 rgb(248, 245, 245),
                 5px 5px 4px 0 rgb(248, 245, 245);
}


a{
    text-decoration: none;
}

.calender-div{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: #ffcdcd;
    border: 1.5px solid #F96A87;
}

.calender-image-div{
    display: flex;
    align-items: center;
    background-color: #ffcdcd;
    justify-content:flex-start;
}

.much-bigger{
    height: 800px;
    justify-content: center;
}

.inside-calender-image-div{
    background-color: #ffcdcd;
    margin-left: 40px;
    display: flex;
    align-items: center;
    background-color: #ffcdcd;
    width: 84%;
    height: 535px;
    justify-content:space-around;
}

.for-smaller-screen{
    flex-direction: column;
    margin-left: 0px;
    justify-content:center;
}

.calender-content-div{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    width:auto;
    margin-right: 40px;
}

.content-div-smaller-screen{
    margin-left: -90px;
    transform: scale(0.8);
}

.content-div-smaller-screen-make-small{
    margin-left: -15px;
    transform: scale(0.85);
}

#extra-planning{
    height: 50px;
}

.calender-content-planning{
    font-size:30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width:90%;
    border: 2px solid #F96A87;
    background-color:#F96A87;
    color:white;
    border-top-right-radius: 9px ;
    border-bottom-left-radius: 9px ;
    border-bottom-right-radius: 9px ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}


.calender-content-kt{
    font-size:25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #F96A87;
    margin-bottom: 10px;
}

.calender-content-dates{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 170%;
    height:100%;
    border: 2px solid #F96A87;
    border-radius: 7px;
    margin-bottom: 10px;
}

.calender-content-dates-date{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(95, 95, 95);
}

.calender-text-gap{
    margin-bottom: 10px;
}

.increasing-width{
    width:200%;
}

.calender-content-more{
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height:100%;
    width:120%;
    border: 2px solid #5F5276;
    background-color:#5F5276;
    color:white;
    border-top-right-radius: 9px ;
    border-bottom-left-radius: 9px ;
    border-bottom-right-radius: 9px ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.w3-white-our-own{
    background-color:#ffcdcd;
}

.main-feedback-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:#ffcdcd;
    height: 500px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
    border: 1.5px solid #F96A87;
}

.feedback-feedback{
    font-size:30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width:72%;
    border: 2px solid #F96A87;
    background-color:#F96A87;
    color:white;
    border-top-right-radius: 9px ;
    border-bottom-left-radius: 9px ;
    border-bottom-right-radius: 9px ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.feedback-for-smaller-screen{
    flex-direction: column;
    height: 1200px;
}

.feedback-text{
    display:flex;
    align-items: flex-start;
    flex-direction: column;
    height: 410px;
    width: auto;
    margin-left:30px;
}

.feedback-feedback-text{
    font-size: 30px;
}

.feedback-text-smaller-screen{
    margin-top: 40px;
    margin-bottom: 30px;
}

.feedback-container-1{
    border: 3px solid #fbff88;
    border-radius: 15px;
    background-color:#FDFFB8;
    padding:15px;
    width:200px;
    height:auto;
}

.feedback-container-2{
    border: 3px solid #9cf8ff;
    border-radius: 15px;
    background-color:#D5FCFF;
    padding:15px;
    width:200px;
    height:auto;
}

.feedback-container-3{
    border: 3px solid #ffcbab;
    border-radius: 15px;
    background-color:#ffe0cd;
    padding:15px;
    width:200px;
    height:auto;
}

.feedback-feedback-1{
    height:400px;
    display: flex;
    align-items: flex-end;
}

.feedback-feedback-2{
    align-items: flex-start;
}

.feedback-feedback-3{
    margin-top:50px;
    align-items: center;
}

.feedback-feedback-smaller-screen-container{
    align-items: center;
    margin-bottom: 30px;
}

.ff-3{
    margin-top: 0px;
}