<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Logo / icon -->
    <link rel="shortcut icon" type="image/x-icon" href="../images/title-img.jpg" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title> Contact </title>

    <!-- Google Font(s) Link -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap" rel="stylesheet">

    <!-- Style / index.css -->
    <link rel="stylesheet" href="contact-style.css">

    <!-- w3-school -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- Fonts Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    
</head>

<body>

    <nav>
        <h2 id="feedback-heading">Feedback Form</h2>
    </nav>
    <div class="main-div">
        <form action="javascript:sendMessage()">

            <div class="container">
                <div class="first-heading">
                    <h2 style="color: rgb(51, 51, 51);">Lost.in.Tension</h2>
                    <p style="font-size: small;" class="w3-opacity">Don't send anything.?!</p>
                </div>
    
                <input type="text" name="senderName" id="senderName" placeholder="Name"></input>
                <input type="text" name="senderEmail" id="senderEmail" placeholder="Email"></input>
                <input type="text" name="senderMessage" id="senderMessage" placeholder="Message"></input>
    
                <button type="submit">Submit.!</button>
            </div>

        </form>
    </div>

</body>


<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script>

function sendMessage() {

    var sendername = document.getElementById("senderName").value;
    var senderemail = document.getElementById("senderEmail").value;
    var sendermessage = document.getElementById("senderMessage").value;

    //Email validation
    var body = 'Name : ' + sendername + '\nEmail ID : ' + senderemail + '\nMessage : ' + sendermessage + ' \n\n\n\n\n\n';
    if(senderemail.indexOf("@") == -1 || senderemail.length < 6){
        text = "Please Enter valid Email";
        alert(text);
        return false;
    }

    var request = new XMLHttpRequest();
    request.open("POST", "https://discord.com/api/webhooks/791141532030861383/NCttBCloERL8MdvFU6Rbyqw_A_6MmA1L1cK5fIlmrIMgkw2Xim3uObO3yXGKd6OC3DY9");

    request.setRequestHeader('Content-type', 'application/json');

    var params = {
        username: "Lost.in.Tension",
        avatar_url: "",
        content: body
    }

    request.send(JSON.stringify(params));
    alert('Message Has Been Sent.!');

}
</script>

</html>