<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Contact Prototype </title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="./../images/title-img.jpg" type="image/x-icon">
    <!-- Google Font(s) Link -->
    <!-- Google ADsence -->
    <script data-ad-client="ca-pub-4213266165269725" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap" rel="stylesheet">
</head>
<body>
    <div class="row">

        <section class="column colorField">
            <h1>Lost</h1>
            <h1>in</h1>
            <h1>Tension</h1>
        </section>

        <form action="javascript:sendMessage()" class="column inputField">
            <h2>Contact / Feedback</h2>
            <input type="text"  id="User-Name"     name="User-Name"     placeholder="Name"    required />
            <input type="email" id="User-Email-Id" name="User-Email-Id" placeholder="Email"   required />
            <input type="text"  id="User-Message"  name="User-Message"  placeholder="Message" required />
            <button type="submit">Submit</button>
        </form>

    </div>
</body>
<script src="../images/app.js"></script>
</html>